# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Objectives:
- List popular languages in Data Science
- List commonly used libraries in Data Science
- List Data Science Tools
- List code for some common arithmetic expressions

## Author
##### Chandrika Shenoy

##### Some of the popular languages that Data Scientists use are:
- Python
- R
- Scala

##### Some of the commonly used libraries used by Data Scientists include:
- pandas
- numpy
- matplotlib

| Data Science Tools |
|:--------:|
|  Apache Spark   |  
|  Tensor Flow   |  
|  Scikit-learn  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60

In [8]:
m = 200
h = 200/60
print(h)

3.3333333333333335